.pv-button {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1;

    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: max-content;
    padding: .75rem 1.5rem;

    cursor: pointer;
    transition: background-color 250ms ease-in-out;

    color: var(--foreground);
    border-radius: var(--roundedness);
    background: var(--primary);

    appearance: none;
    will-change: background-color;

    &:hover {
        background-color: var(--primary-dark);
    }

    &:focus {
        outline: .125rem solid var(--foreground);
        outline-offset: .125rem;
    }
}