.pv-radio-select {
    display: flex;

    justify-content: space-between;
    width: 100%;

    & > label {
        margin-bottom: .125rem;
    }
}

label.pv-radio {
    display: grid;
    align-items: center;
    gap: .5rem;
    grid-template-columns: 1rem auto;

    & input[type="radio"] {
        display: grid;
        width: 1rem;

        height: 1rem;
        cursor: pointer;

        border: .125rem solid var(--foreground);
        border-radius: 50%;
        appearance: none;
        place-content: center;

        &::before {
            width: .5rem;

            height: .5rem;
            content: "";
            transition: transform 150ms ease-in-out;
            transform: scale(0);
            border-radius: 50%;

            background-color: var(--background);
            box-shadow: inset 1rem 1rem var(--primary);
        }

        &:checked {
            &::before {
                transform: scale(1);
            }
        }

        &:focus {
            outline: .125rem solid var(--foreground);
            outline-offset: .125rem;
        }
    }
}