label.pv-select {
    position: relative;
    display: flex;

    align-items: center;
    justify-content: space-between;
    width: 100%;

    & select {
        padding: .25rem 1.5rem .25rem .5rem;
        cursor: pointer;

        color: var(--foreground);

        border: 0.125rem solid var(--foreground);
        border-radius: var(--roundedness);
        background: var(--background);
        appearance: none;

        &:focus {
            outline: .125rem solid var(--foreground);
            outline-offset: .125rem;
        }
    }

    &::after {
        position: absolute;
        z-index: 1;

        right: .75rem;
        width: .75rem;

        height: .5rem;
        content: "";
        background-color: var(--foreground);

        clip-path: polygon(100% 0%, 0% 0%, 50% 100%);
    }
}
