.pv-page-container {
    position: relative;

    margin: var(--outer-margin-y) var(--outer-margin-x);

    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
}
