.pv-header {
    position: relative;

    display: grid;

    align-items: center;
    margin: var(--outer-margin-y) var(--outer-margin-x) calc(var(--outer-margin-y) + 1rem);
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
}