.pv-search-filter-container {
    display: flex;

    flex-direction: column;
    width: 100%;
    row-gap: 1rem;
}

.pv-search-filter-options {
    display: grid;
    grid-template-areas:
        "title title title"
        "1 2 3";
    grid-template-columns: 1fr 1fr 1fr;

    & strong {
        margin-bottom: .25rem;
        grid-area: title;
    }
}
