.pv-sidebar {
    position: relative;

    display: flex;
    width: 100%;
    margin-bottom: auto;

    padding: 1.75rem;

    border-radius: var(--roundedness);
    background: var(--card-bg);
    box-shadow: var(--card-box);
}