.pv-sidebar {
    width: 100%;
    padding: 1.75rem;
    margin-bottom: auto;

    display: flex;

    background: var(--card-bg);
    box-shadow: var(--card-box);
    border-radius: var(--roundedness);
}