.pv-search-container {
    display: grid;

    margin: var(--outer-margin-y) var(--outer-margin-x);
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
}

.pv-search-results {
    display: flex;
    width: 100%;

    & .pv-search-empty {
        margin: 3rem auto 0;
    }
}