.pv-article-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;

    & > :only-child {
        margin-top: 3rem;
    }

    & > * {
        margin-bottom: 1.5rem;
    }
}