.pv-searchbar {
    position: relative;
    width: 100%;
    padding: .75rem 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--foreground);
    background: var(--card-bg);
    box-shadow: var(--card-box-pressed);
    border-radius: var(--roundedness);

    &::placeholder {
        color: var(--foreground);
    }

    &:focus {
        outline: 0.125rem solid var(--foreground);
        outline-offset: 0.125rem;
    }

    &::after {
        background-image: url("../../assets/search.svg");
        background-size: 16px 16px;
        background-repeat: no-repeat;
        background-position: calc(100% - 10px) center;
    }
}
