:root {
    --font-heading: "Fira Sans";
    --font-subheading: "Puritan";
    --font-paragraph: "Nunito";

    --primary: #f56476;
    --primary-dark: #e43f6f;
    --secondary: #79a9d1;
    --tertiary: #899d78;
    --foreground: #373f51;
    --background-light: #b76a52;
    --background: #f3e6e2;

    --screen-xs: 26rem;
    --screen-sm: 40rem;
    --screen-md: 48rem;
    --screen-lg: 64rem;
    --screen-xl: 80rem;
    --screen-2xl: 96rem;

    --outer-margin-x: 2rem;
    --outer-margin-y: 1.5rem;
    --roundedness: 1.75rem;

    --neumorphism-x: 1.25rem;
    --neumorphism-y: 1.25rem;
    --neumorphism-angle: 145deg;
    --neumorphism-blur: 2.5rem;
    --neumorphism-light: #fffbf6;
    --neumorphism-dark: #ddd1ce;
    --neumorphism-shade-start: #f3e6e2;
    --neumorphism-shade-end: #f3e6e2;

    @media (prefers-color-scheme: dark) {
        --foreground: #f3e6e2;
        --background: #373f51;
        --background-light: #8691ac;

        --neumorphism-light: #3c4558;
        --neumorphism-dark: #32394a;
        --neumorphism-shade-start: #373f51;
        --neumorphism-shade-end: #373f51;
    }

    --card-bg: linear-gradient(var(--neumorphism-angle),
    var(--neumorphism-shade-start), var(--neumorphism-shade-end));
    --card-box: var(--neumorphism-x) var(--neumorphism-y) var(--neumorphism-blur) var(--neumorphism-dark),
    calc(-1 * var(--neumorphism-x)) calc(-1 * var(--neumorphism-y)) var(--neumorphism-blur) var(--neumorphism-light);
    --card-box-pressed: inset var(--neumorphism-x) var(--neumorphism-y) var(--neumorphism-blur) var(--neumorphism-dark),
    inset calc(-1 * var(--neumorphism-x)) calc(-1 * var(--neumorphism-y)) var(--neumorphism-blur) var(--neumorphism-light);
}

@custom-media --min-screen-xs (min-width: 26rem);

@custom-media --min-screen-sm (min-width: 40rem);

@custom-media --min-screen-md (min-width: 48rem);

@custom-media --min-screen-lg (min-width: 64rem);

@custom-media --min-screen-xl (min-width: 80rem);

@custom-media --min-screen-2xl (min-width: 96rem);
